---

  - name: Git checkout
    ansible.builtin.git:
      repo: 'https://github.com/Simonwep/openvpn-pihole.git'
      dest: "/home/{{ my_user }}/openvpn-pihole"
      version: master
    become: yes
    become_user: "{{ my_user }}"
    tags:
      - vpn

  - name: Deploy VPN
    community.docker.docker_compose:
      project_name: "{{ my_spec }}"
      project_src: "/home/{{ my_user }}/openvpn-pihole"
      pull: yes
    vars:
      ansible_python_interpreter: python3
    become: yes
    become_user: "{{ my_user }}"
    register: deployed_vpn
    tags:
      - vpn

  - name: Create .ovpn file
    community.docker.docker_container_exec:
      container: openvpn
      argv:
        - /bin/bash
        - "-c"
        - "/opt/app/bin/genclient.sh {{ vpn_name }} {{ vpn_password }}"
    vars:
      ansible_python_interpreter: python3
    when: deployed_vpn.changed
    become: yes
    become_user: "{{ my_user }}"
    tags:
      - vpn