---

  - name: Git checkout
    ansible.builtin.git:
      repo: 'https://github.com/Simonwep/openvpn-pihole.git'
      dest: "/home/{{ my_user }}/openvpn-pihole"
      version: master
    become: yes
    become_user: "{{ my_user }}"
    tags:
      - vpn

  - name: Deploy VPN
    community.docker.docker_compose:
      project_name: "{{ my_spec }}"
      project_src: "/home/{{ my_user }}/openvpn-pihole"
      pull: yes
    vars:
      ansible_python_interpreter: python3
    become: yes
    become_user: "{{ my_user }}"
    register: deployed_vpn
    tags:
      - vpn

  - name: "Create {{ vpn_name }}.ovpn"
    community.docker.docker_container_exec:
      container: openvpn
      argv:
        - /bin/bash
        - "-c"
        - "/opt/app/bin/genclient.sh {{ vpn_name }} {{ vpn_password }}"
    vars:
      ansible_python_interpreter: python3
    when: deployed_vpn.changed
    become: yes
    become_user: "{{ my_user }}"
    tags:
      - vpn

  - name: "Check {{ vpn_name }}.ovpn"
    stat:
      path: "/home/{{ my_user }}/openvpn-pihole/openvpn/clients/{{ vpn_name }}.ovpn"
    register: file_vpn
    when: deployed_vpn.changed    
    tags:
      - vpn

  - name: "Validate {{ vpn_name }}.ovpn"
    fail:
      msg: "File '/home/{{ my_user }}/openvpn-pihole/openvpn/clients/{{ vpn_name }}.ovpn' does not exist"
    when:
      - deployed_vpn.changed
      - file_vpn.stat.exists == false
    tags:
      - vpn

  - name: "Change {{ vpn_name }}.ovpn ownership"
    ansible.builtin.file:
      path: "/home/{{ my_user }}/openvpn-pihole/openvpn/clients/{{ vpn_name }}.ovpn"
      owner: "{{ my_user }}"
      group: "{{ my_user }}"
      mode: '0644'
    when: deployed_vpn.changed
    tags:
      - vpn

  - name: Get my public IP
    uri: 
      url: http://ifconfig.me/ip
      return_content: yes
    register: public_ip
    when: deployed_vpn.changed
    tags:
      - vpn

  - name: "Include public IP into {{ vpn_name }}.ovpn"
    replace:
      path: "/home/{{ my_user }}/openvpn-pihole/openvpn/clients/{{ vpn_name }}.ovpn"
      regexp: '127.0.0.1'
      replace: "{{ public_ip.content }}"
    when: deployed_vpn.changed
    tags:
      - vpn

  - name: "Download {{ vpn_name }}.ovpn to local {{ vpn_file }}"
    fetch:
      src: "/home/{{ my_user }}/openvpn-pihole/openvpn/clients/{{ vpn_name }}.ovpn"
      dest: "{{ vpn_file }}"
      flat: yes
    when: deployed_vpn.changed
    tags:
      - vpn